<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SyncFolder" value="C:\SyncFolders\ClientFolder" />
    <add key="WepApiURL" value="http://localhost/ServerFileSync/api/FileTransfer/" />
    <add key="SignalRHost" value="http://localhost/ServerFileSync/" />
    <add key="SignalRHub" value="FileSyncHub" />
  </appSettings>
</configuration>